{% args data %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Basic Page Needs
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>Automatic Watering Controller</title>
        <meta name="description" content="Status page for automatic watering controller">
        <meta name="author" content="John Morris">

        <!-- Mobile Specific Metas
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/skeleton.css">

        <!-- Favicon
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="static/image/png" href="static/images/favicon.png">

    </head>
    <body><script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.js" integrity="sha512-XcsV/45eM/syxTudkE8AoKK1OfxTrlFpOltc9NmHXh3HF+0ZA917G9iG6Fm7B6AzP+UeEzV8pLwnbRNPxdUpfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        <!-- Primary Page Layout
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            <h1> Automatic Watering Controller </h1>
            <!-- <p> {{data}} </p> -->
            <div class="row">
                <div class="one-half column" style=margin-top: 25%">
                    <h4>Status</h4>
                    <table class ="u-full-width">
                        <thead>
                            <tr>
                                <th>
                                    Property
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in data.items() %}
                            <tr>
                                <td>{{k}}</td>
                                <td>{{v}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="one-half column">
                    <h4>Valve Control</h4>

                    <a class="button button-primary" href="api/valve/on">Turn On</a>
                    <a class="button" href="api/valve/off">Turn Off</a>

                </div>
                <div class="one-half column">
                    <h4>Mode Control</h4>
                    <a class="button button-primary" href="api/mode/auto">Auto Mode</a>
                    <a class="button" href="api/mode/manual">Manual Mode</a>
                </div>
                <div class="one-half column">
                    <h4>Sensor Power Save</h4>
                    <a class="button button-primary" href="api/settings/power_down_sensor/True">Enable</a>
                    <a class="button" href="api/settings/power_down_sensor/False">Disable</a>
                </div>

            </div>
            <div class="row">
                <div class="twelve columns">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <script>
             var raw_data = new Array();
             var labels = new Array();
             console.log("here");

             $.ajax({
                 url: 'api/log',
                 dataType: 'JSON',
                 success: function(result){
                     var temps = new Array();
                     var hygs = new Array();
                     var valves = new Array();
                     console.log(result);
                     for (i in result) {
                         raw_data.push(result[i]);
                         temps.push(result[i].soil_temperature);
                         hygs.push(result[i].soil_humidity);
                         valves.push(result[i].valve);
                         labels.push("");
                     }

                     console.log(raw_data, labels);
                     var config = {
                         type: 'line',
                         data: {
                             labels : labels,
                             datasets: [
                                 {
                                     label: 'Soil Temperature',
                                     yAxisID: "temp",
                                     data: temps,
                                     borderColor: 'red',
                                     fill: false,
                                     parsing: {
                                         yAxisKey: 'soil_temperature'
                                     },
                                 },
                                 {
                                     label: "Soil Humidity",
                                     yAxisID: "hygr",
                                     data: hygs,
                                     borderColor: 'green',
                                     fill: false,
                                     parsing: { yAxisKey: 'soil_humidity'}
                                 },
                                 {
                                     label: "Valve Status",
                                     yAxisID: "valve",
                                     data: valves,
                                     borderColor: 'blue',
                                     fill: true,
                                     parsing: { yAxisKey: 'valve'}
                                 }
                             ],
                             options: {
                                 scales: {
                                     yAxes: [
                                         {
                                             position: "right",
                                             "id": "hygr",
                                             display: true,
                                             callback:(label,index,labels)=>{ return label + "%"; }
                                         },
                                         {
                                             position: "right",
                                             "id": "temp",
                                             display: true
                                         },
                                         {
                                             position: "right",
                                             "id": "valve",
                                             display: false
                                         }
                                     ]
                                 },
                                 title: {
                                     display: true,
                                     text: "Log"
                                 }
                             }
                         },
                     };
                     console.log(raw_data, config);
                     var ctx = document.getElementById('canvas').getContext('2d');
                     let chart  = new Chart(ctx, config);
					           chart.update();
                 }
             });
            </script>

            <!-- End Document
                 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
